NODE_ENV=production

INTERNAL_API_URL=https://progrifes-backend.pknzmz.easypanel.host/api
BACKEND_INTERNAL_URL=https://progrifes-backend.pknzmz.easypanel.host/api
NEXT_PUBLIC_API_URL=https://progrifes-backend.pknzmz.easypanel.host/api
