NODE_ENV=production

NEXT_PUBLIC_API_URL=https://progrifes-progrifes_backend.SEU-HOST.easypanel.host/api
INTERNAL_API_URL=https://progrifes-progrifes_backend.SEU-HOST.easypanel.host/api
BACKEND_INTERNAL_URL=https://progrifes-progrifes_backend.SEU-HOST.easypanel.host/api
